<div class="page-header">
    <h4 class="page-title">Edit Category</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>
<div class="dialog-outer">
    <mat-card class="deatils-card">
        <h3>Category</h3>
        <div class="form-outer">
            <form action="">
                <div class="form-col col">
                    <label for="">Code</label>
                    <input type="text" matInput placeholder="Code">
                </div>
                <div class="form-col col">
                    <label for="">Name</label>
                    <input type="text" matInput placeholder="Name">
                </div>
                <div class="form-col col">
                    <label for="">Department</label>
                    <input type="text" matInput placeholder="Department">
                </div>
            </form>
        </div>
        <div class="action-title">
            <div class="header-action">
              <button mat-button class="add-button"><mat-icon>check</mat-icon> Update</button>
            </div>
        </div>
    </mat-card>
</div>