@import "../../itemmaster/additemmaster/additemmaster.component.scss";
.deatils-card{
    width: 100%;
}
.action-title{
    justify-content: center;
}
.action-title .add-button{
    margin: 8px;
}
.dialog-outer{
    height: auto;
}