<mat-card class="deatils-card">
    <h3>Vendor</h3>
    <div class="form-outer">
        <form action="">
            <div class="form-col">
                <label for="">Supplier 2</label>
                <input type="text" matInput placeholder="Supplier 2">
            </div>
            <div class="form-col">
                <label for="">Supplier Cost 2</label>
                <input type="text" matInput placeholder="Supplier Cost 2">
            </div>
            <div class="form-col">
                <label for="">Supplier 3</label>
                <input type="text" matInput placeholder="Supplier 3">
            </div>
            <div class="form-col">
                <label for="">Supplier Cost 3</label>
                <input type="text" matInput placeholder="Supplier Cost 3">
            </div>
        </form>
    </div>
</mat-card>
<hr class="m-0 p-0"/>
<mat-card class="deatils-card">
    <h3>Ledgers</h3>
    <div class="form-outer">
        <form action="">
            <div class="form-col">
                <label for="">Stock Ledger</label>
                <input type="text" matInput placeholder="Stock Ledger">
            </div>
            <div class="form-col">
                <label for="">Sales Ledger</label>
                <input type="text" matInput placeholder="Sales Ledger">
            </div>
            <div class="form-col">
                <label for="">Cost Of Goods</label>
                <input type="text" matInput placeholder="Cost Of Goods">
            </div>
        </form>
    </div>
</mat-card>