<div class="page-header">
    <h4 class="page-title">Edit Packing</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>
<div class="dialog-outer">
    <mat-card class="deatils-card">
        <h3>UOM Packing</h3>
        <div class="form-outer">
            <form action="">
                <div class="form-col">
                    <label for="">Product Code</label>
                    <input type="text" matInput placeholder="Product Code">
                </div>
                <div class="form-col">
                    <label for="">Product Name</label>
                    <input type="text" matInput placeholder="Product Name">
                </div>
                <div class="form-col">
                    <label for="">Arabic Name</label>
                    <input type="text" matInput placeholder="Arabic Name">
                </div>
                <div class="form-col">
                    <label for="">Bar Code</label>
                    <input type="text" matInput placeholder="Bar Code">
                </div>
                <div class="form-col">
                    <label for="">UOM</label>
                    <input type="text" matInput placeholder="UOM">
                </div>
                <div class="form-col">
                    <label for="">Cost</label>
                    <input type="text" matInput placeholder="Cost">
                </div>
                <div class="form-col">
                    <label for="">Net Cost</label>
                    <input type="text" matInput placeholder="Net Cost">
                </div>
            </form>
        </div>
    </mat-card>

    <mat-card class="deatils-card deatils-cardsec">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Cost">
                <app-cost></app-cost>
            </mat-tab>
            <mat-tab label="Price">
                <app-price></app-price>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>