<mat-card class="deatils-card">
    <h3>Ledgers</h3>
    <div class="form-outer">
        <form action="">
            <div class="form-col">
                <label for="">Stock Ledger</label>
                <input type="text" matInput placeholder="Stock Ledger">
            </div>
            <div class="form-col">
                <label for="">Non Stock Ledger</label>
                <input type="text" matInput placeholder="Non Stock Ledger">
            </div>
            <div class="form-col">
                <label for="">Cost of Goods</label>
                <input type="text" matInput placeholder="Cost of Goods">
            </div>
            <div class="form-col">
                <label for="">Payable A/C</label>
                <input type="text" matInput placeholder="Payable A/C">
            </div>
            <div class="form-col">
                <label for="">Discount Ledger</label>
                <input type="text" matInput placeholder="Discount Ledger">
            </div>
            <div class="form-col">
                <label for="">Round off A/C</label>
                <input type="text" matInput placeholder="Round off A/C">
            </div>
        </form>
    </div>
</mat-card>